{% extends '@App/layout.html.twig' %}

{% block content %}
    {{ form(form) }}
        {#<form method="post" action="">#}
            {#<div class="form-group">#}
                {#<label for="titre">Titre:</label>#}
                {#<input type="text" class="form-control" id="titre">#}
            {#</div>#}
            {#<div class="form-group">#}
                {#<label for="description">Description:</label>#}
                {#<input type="textarea" class="form-control" id="description">#}
            {#</div>#}
            {#<div class="form-group">#}
                {#<label for="phot">Photo:</label>#}
                {#<input type="text" class="form-control" id="photo">#}
            {#</div>#}
            {#<div class="form-group">#}
                {#<label for="sel1">Catégorie:</label>#}
                {#<select class="form-control" id="sel1">#}
                    {#<option value="action">Action</option>#}
                    {#<option value="aventure">Aventure</option>#}
                    {#<option value="commique">Comique</option>#}
                    {#<option value="policier">Policier</option>#}
                    {#<option value="science fiction">Science fiction</option>#}
                {#</select>#}
            {#</div>#}
            {#<button type="submit" class="btn btn-primary">Enregistrer</button>#}
        {#</form>#}
{% endblock %}

{% block javascripts %}
    <script>
        $('document').ready(function () {
            $("p.ajout span").addClass("label-primary");
        });
    </script>
{% endblock %}